<% include includes/header.ejs %>
<h2>Dashboard</h2>
<div class="row">
  <a href="/logout">Logout</a>
  <a href="/onboard">Onboard</a>
  <a href="/settings">Account Settings</a>
</div>

<div class="row">
  <button class="btn trick">Sit</button>
  <button class="btn trick">Down</button>
  <button class="btn trick">Stay</button>
  <button class="btn trick">Come</button>
</div>

 <div class="row"><button class="btn meal">Meal <br> Last Meal: <span class="last-meal"> <%= moment(user.mealTime).format("dddd, h:mm A") %> </span></button>
 </div>



<div class="row">
  <!-- LOCAL INFORMATION -->
  <div class="col-sm-12">
      <div class="well">
              <p>
                  <strong>email</strong>: <%= user.local.email %><br>
                  <strong>Name</strong>: <%= user.palName %><br>
                  <strong>Dog's Name</strong>: <%= user.pupName %><br>
                  <strong>Take <%= user.pupName %> out at</strong>: <span class="countdown"><%= moment(user.mealTime).add(20, 'minutes').format('h:mm A') %></span> 
              </p>

      </div>
    </div>
</div>
<script src="js/moment.min.js"></script>
<script src="js/main.js" charset="utf-8"></script>
<% include includes/footer.ejs %>
